.cover__subtitle {
  margin: 0;
  font-weight: 400;
  text-align: center;
  color: #FFF;
  z-index: 1;
  font-size: 18px;
  line-height: 22px;
  box-sizing: border-box;
  padding: 0 30%;
}

@media (max-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    padding: 0 20%;
  }
}

@media (max-width: 600px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    padding: 0 9%;
  }
}
