.cover__subtitle {
  margin: 32px 0 0 0;
  font-weight: 400;
  text-align: center;
  color: #FFF;
  z-index: 1;
  font-size: 18px;
  line-height: 22px;
  padding: 0 32%;
}

@media (max-width: 1024px) {
  .cover__subtitle {
    padding: 0 28%;
  }
}

@media (max-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    padding: 0 20%;
  }
}

@media (max-width: 600px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin: 16px 0 0 0;
    padding: 0 6%;
  }
}
