.lead__title {
  margin: 0;
  font-weight: 900;
  text-align: center;
  color: #fff;
  font-size: 96px;
  line-height: 100px;
}

@media (min-width: 1025px) {
  .lead__title {
    box-sizing: border-box;
    padding: 0 20%;
  }
}


@media (max-width: 730px) {
  .lead__title {
    font-size: 50px;
  }
}

@media (max-width: 600px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}
