.lead__subtitle {
  margin: 32px 0 0 0;
  font-weight: 400;
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 36px;
}

@media (min-width: 770px) {
  .lead__subtitle {
    box-sizing: border-box;
    padding: 0 20%;
  }
}

@media (max-width: 600px) {
  .lead__subtitle {
    margin: 16px 0 0 0;
    font-size: 16px;
    line-height: 20px;
  }
}

