.place:first-child {
  margin-top: 0;
}

.place {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px 20px;
}


@media (max-width: 1024px) {
  .place {
    gap: 48px 20px;
  }
}

@media (max-width: 768px) {
  .place {
    margin-top: 73px;
    gap: 46px 20px;
  }
}

@media (max-width: 600px) {
  .place {
    margin-top: 50px;
    display: block;
  }
}
